* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    z-index: 2;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.btn-primary {
    background-color: #013d87;
}

.btn-outline-success:hover {
    background-color: #01630e;
}

body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    max-width: 100vw;
    margin: 0 0;
    width: auto;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
();
}

.btn-nav {
    font-size: 13px;
}

.hero-text {
    font-size: 14px;
    line-height: 26px;
}


footer {
    padding: 0 7vw;
    background-color: rgba(0, 0, 0, 0.89);
    color: white !important;
}


.playReel {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.2;
    filter: invert(-1);
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.playReel h5 {
    font-weight: 500;
    padding: 1rem;
    color: ivory;
    font-size: 14px;
    letter-spacing: 0.2mm;
}
